.odinpage {
  color: white;
}

div.c-center,
h1,
img {
  text-align: center;
}

ul.list_center {
  display: inline-block;
  text-align: left;
  color: white;
}

a {
  font-size: large;
  font-weight: bold;
  color: white;
}
